body{
  background-color: white;
  padding: 10px;
}
.card{
   background-color: black;
  width:30px;
  margin: auto;
  position: relative;
}
.card::after{
  content: '';
  background-color: black;
}
.card header{
  text-align: center;
}
.footer{
  text-align:center;
}